@tailwind base;
@tailwind components;
@tailwind utilities;

:root:hover {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

@layer components {
  .ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}
